cub-1.10.0/.cproject
cub-1.10.0/.gitignore
cub-1.10.0/.project
cub-1.10.0/CHANGELOG.md
cub-1.10.0/CMakeLists.txt
cub-1.10.0/CODE_OF_CONDUCT.md
cub-1.10.0/common.mk
cub-1.10.0/CONTRIBUTING.md
cub-1.10.0/eclipse code style profile.xml
cub-1.10.0/LICENSE.TXT
cub-1.10.0/README.md
cub-1.10.0/.github/workflows/mirror-main-to-master.yml
cub-1.10.0/.settings/.gitignore
cub-1.10.0/.settings/org.eclipse.cdt.codan.core.prefs
cub-1.10.0/.settings/org.eclipse.cdt.core.prefs
cub-1.10.0/.settings/org.eclipse.cdt.ui.prefs
cub-1.10.0/.settings/org.eclipse.core.runtime.prefs
cub-1.10.0/cmake/AppendOptionIfAvailable.cmake
cub-1.10.0/cmake/CubBuildCompilerTargets.cmake
cub-1.10.0/cmake/CubBuildTargetList.cmake
cub-1.10.0/cmake/CubCudaConfig.cmake
cub-1.10.0/cmake/CubHeaderTesting.cmake
cub-1.10.0/cmake/CubInstallRules.cmake
cub-1.10.0/cmake/header_test.in
cub-1.10.0/cub/config.cuh
cub-1.10.0/cub/cub.cuh
cub-1.10.0/cub/util_allocator.cuh
cub-1.10.0/cub/util_arch.cuh
cub-1.10.0/cub/util_compiler.cuh
cub-1.10.0/cub/util_cpp_dialect.cuh
cub-1.10.0/cub/util_debug.cuh
cub-1.10.0/cub/util_deprecated.cuh
cub-1.10.0/cub/util_device.cuh
cub-1.10.0/cub/util_macro.cuh
cub-1.10.0/cub/util_namespace.cuh
cub-1.10.0/cub/util_ptx.cuh
cub-1.10.0/cub/util_type.cuh
cub-1.10.0/cub/version.cuh
cub-1.10.0/cub/agent/agent_histogram.cuh
cub-1.10.0/cub/agent/agent_radix_sort_downsweep.cuh
cub-1.10.0/cub/agent/agent_radix_sort_upsweep.cuh
cub-1.10.0/cub/agent/agent_reduce_by_key.cuh
cub-1.10.0/cub/agent/agent_reduce.cuh
cub-1.10.0/cub/agent/agent_rle.cuh
cub-1.10.0/cub/agent/agent_scan.cuh
cub-1.10.0/cub/agent/agent_segment_fixup.cuh
cub-1.10.0/cub/agent/agent_select_if.cuh
cub-1.10.0/cub/agent/agent_spmv_orig.cuh
cub-1.10.0/cub/agent/single_pass_scan_operators.cuh
cub-1.10.0/cub/block/block_adjacent_difference.cuh
cub-1.10.0/cub/block/block_discontinuity.cuh
cub-1.10.0/cub/block/block_exchange.cuh
cub-1.10.0/cub/block/block_histogram.cuh
cub-1.10.0/cub/block/block_load.cuh
cub-1.10.0/cub/block/block_radix_rank.cuh
cub-1.10.0/cub/block/block_radix_sort.cuh
cub-1.10.0/cub/block/block_raking_layout.cuh
cub-1.10.0/cub/block/block_reduce.cuh
cub-1.10.0/cub/block/block_scan.cuh
cub-1.10.0/cub/block/block_shuffle.cuh
cub-1.10.0/cub/block/block_store.cuh
cub-1.10.0/cub/block/specializations/block_histogram_atomic.cuh
cub-1.10.0/cub/block/specializations/block_histogram_sort.cuh
cub-1.10.0/cub/block/specializations/block_reduce_raking_commutative_only.cuh
cub-1.10.0/cub/block/specializations/block_reduce_raking.cuh
cub-1.10.0/cub/block/specializations/block_reduce_warp_reductions.cuh
cub-1.10.0/cub/block/specializations/block_scan_raking.cuh
cub-1.10.0/cub/block/specializations/block_scan_warp_scans.cuh
cub-1.10.0/cub/block/specializations/block_scan_warp_scans2.cuh
cub-1.10.0/cub/block/specializations/block_scan_warp_scans3.cuh
cub-1.10.0/cub/cmake/cub-config-version.cmake
cub-1.10.0/cub/cmake/cub-config.cmake
cub-1.10.0/cub/device/device_histogram.cuh
cub-1.10.0/cub/device/device_partition.cuh
cub-1.10.0/cub/device/device_radix_sort.cuh
cub-1.10.0/cub/device/device_reduce.cuh
cub-1.10.0/cub/device/device_run_length_encode.cuh
cub-1.10.0/cub/device/device_scan.cuh
cub-1.10.0/cub/device/device_segmented_radix_sort.cuh
cub-1.10.0/cub/device/device_segmented_reduce.cuh
cub-1.10.0/cub/device/device_select.cuh
cub-1.10.0/cub/device/device_spmv.cuh
cub-1.10.0/cub/device/dispatch/dispatch_histogram.cuh
cub-1.10.0/cub/device/dispatch/dispatch_radix_sort.cuh
cub-1.10.0/cub/device/dispatch/dispatch_reduce_by_key.cuh
cub-1.10.0/cub/device/dispatch/dispatch_reduce.cuh
cub-1.10.0/cub/device/dispatch/dispatch_rle.cuh
cub-1.10.0/cub/device/dispatch/dispatch_scan.cuh
cub-1.10.0/cub/device/dispatch/dispatch_select_if.cuh
cub-1.10.0/cub/device/dispatch/dispatch_spmv_orig.cuh
cub-1.10.0/cub/grid/grid_barrier.cuh
cub-1.10.0/cub/grid/grid_even_share.cuh
cub-1.10.0/cub/grid/grid_mapping.cuh
cub-1.10.0/cub/grid/grid_queue.cuh
cub-1.10.0/cub/host/mutex.cuh
cub-1.10.0/cub/iterator/arg_index_input_iterator.cuh
cub-1.10.0/cub/iterator/cache_modified_input_iterator.cuh
cub-1.10.0/cub/iterator/cache_modified_output_iterator.cuh
cub-1.10.0/cub/iterator/constant_input_iterator.cuh
cub-1.10.0/cub/iterator/counting_input_iterator.cuh
cub-1.10.0/cub/iterator/discard_output_iterator.cuh
cub-1.10.0/cub/iterator/tex_obj_input_iterator.cuh
cub-1.10.0/cub/iterator/tex_ref_input_iterator.cuh
cub-1.10.0/cub/iterator/transform_input_iterator.cuh
cub-1.10.0/cub/thread/thread_load.cuh
cub-1.10.0/cub/thread/thread_operators.cuh
cub-1.10.0/cub/thread/thread_reduce.cuh
cub-1.10.0/cub/thread/thread_scan.cuh
cub-1.10.0/cub/thread/thread_search.cuh
cub-1.10.0/cub/thread/thread_store.cuh
cub-1.10.0/cub/warp/warp_reduce.cuh
cub-1.10.0/cub/warp/warp_scan.cuh
cub-1.10.0/cub/warp/specializations/warp_reduce_shfl.cuh
cub-1.10.0/cub/warp/specializations/warp_reduce_smem.cuh
cub-1.10.0/cub/warp/specializations/warp_scan_shfl.cuh
cub-1.10.0/cub/warp/specializations/warp_scan_smem.cuh
cub-1.10.0/examples/CMakeLists.txt
cub-1.10.0/examples/block/.gitignore
cub-1.10.0/examples/block/CMakeLists.txt
cub-1.10.0/examples/block/example_block_radix_sort.cu
cub-1.10.0/examples/block/example_block_reduce.cu
cub-1.10.0/examples/block/example_block_scan.cu
cub-1.10.0/examples/block/Makefile
cub-1.10.0/examples/device/.gitignore
cub-1.10.0/examples/device/CMakeLists.txt
cub-1.10.0/examples/device/example_device_partition_flagged.cu
cub-1.10.0/examples/device/example_device_partition_if.cu
cub-1.10.0/examples/device/example_device_radix_sort.cu
cub-1.10.0/examples/device/example_device_reduce.cu
cub-1.10.0/examples/device/example_device_scan.cu
cub-1.10.0/examples/device/example_device_select_flagged.cu
cub-1.10.0/examples/device/example_device_select_if.cu
cub-1.10.0/examples/device/example_device_select_unique.cu
cub-1.10.0/examples/device/example_device_sort_find_non_trivial_runs.cu
cub-1.10.0/examples/device/Makefile
cub-1.10.0/experimental/.gitignore
cub-1.10.0/experimental/histogram_compare.cu
cub-1.10.0/experimental/Makefile
cub-1.10.0/experimental/sparse_matrix.h
cub-1.10.0/experimental/spmv_compare.cu
cub-1.10.0/experimental/spmv_script.sh
cub-1.10.0/experimental/defunct/example_coo_spmv.cu
cub-1.10.0/experimental/defunct/test_device_seg_reduce.cu
cub-1.10.0/experimental/histogram/histogram_cub.h
cub-1.10.0/experimental/histogram/histogram_gmem_atomics.h
cub-1.10.0/experimental/histogram/histogram_smem_atomics.h
cub-1.10.0/test/.gitignore
cub-1.10.0/test/CMakeLists.txt
cub-1.10.0/test/half.h
cub-1.10.0/test/link_a.cu
cub-1.10.0/test/link_b.cu
cub-1.10.0/test/link_main.cpp
cub-1.10.0/test/Makefile
cub-1.10.0/test/mersenne.h
cub-1.10.0/test/test_allocator.cu
cub-1.10.0/test/test_block_histogram.cu
cub-1.10.0/test/test_block_load_store.cu
cub-1.10.0/test/test_block_radix_sort.cu
cub-1.10.0/test/test_block_reduce.cu
cub-1.10.0/test/test_block_scan.cu
cub-1.10.0/test/test_device_histogram.cu
cub-1.10.0/test/test_device_radix_sort.cu
cub-1.10.0/test/test_device_reduce_by_key.cu
cub-1.10.0/test/test_device_reduce.cu
cub-1.10.0/test/test_device_run_length_encode.cu
cub-1.10.0/test/test_device_scan.cu
cub-1.10.0/test/test_device_select_if.cu
cub-1.10.0/test/test_device_select_unique.cu
cub-1.10.0/test/test_grid_barrier.cu
cub-1.10.0/test/test_iterator.cu
cub-1.10.0/test/test_util.h
cub-1.10.0/test/test_warp_reduce.cu
cub-1.10.0/test/test_warp_scan.cu
cub-1.10.0/tune/.gitignore
cub-1.10.0/tune/Makefile
cub-1.10.0/tune/tune_device_reduce.cu
dolphin.obj
1.10.0.tar.gz
